---

- name: Load repository list from YAML file
  ansible.builtin.include_vars:
    file: "{{ system_packages_repo_config }}"

- name: Remove repos
  become: true
  loop: "{{ system_packages_repo_list }}"
  loop_control:
    loop_var: repo
    label: "{{ repo.name }}"
  when: (ansible_distribution | lower in repo.distro) | default(true)
  ansible.builtin.yum_repository:
    name: "{{ repo.name }}"
    state: absent

- name: Remove unused dependencies
  become: true
  ansible.builtin.package:
    autoremove: true

...
