---

- name: Load repository list from YAML file
  ansible.builtin.include_vars:
    file: "{{ system_packages_repo_config }}"

- name: Load packages list from YAML file
  ansible.builtin.include_vars:
    file: "{{ system_packages_config }}"

- name: Include repo files logic
  ansible.builtin.include_tasks:
    file: "{{ ansible_os_family | lower }}_repos.yml"

- name: Install custom packages (usually device specific)
  become: true
  loop: "{{ system_packages_custom_packages }}"
  loop_control:
    loop_var: custom_package
  ansible.builtin.package:
    name: "{{ custom_package }}"
    state: present

...
