---

- name: Install debian specific package_facts dependency
  become: true
  when: ansible_distribution == "Debian"
  ansible.builtin.package:
    name: python-apt-common
    state: present

# INFO This task may be obsolete for your use-case
- name: Gather package facts
  ansible.builtin.package_facts:

- name: Load repository list from YAML file
  ansible.builtin.include_vars:
    file: "{{ system_packages_repo_config }}"

- name: Include repo files logic
  ansible.builtin.include_tasks:
    file: "{{ ansible_os_family | lower }}_repos.yml"

...
