---

# INFO Fedora43 was missing these essential packages by default
- name: Ensure python rpm/dnf is installed
  become: true
  ansible.builtin.command:
    cmd: >
      dnf install -y
      python3-rpm
      python3-dnf
      {% if ansible_facts.distribution | lower == 'fedora' %}python3-libdnf5{% endif %}
  register: python_rpm_result
  changed_when: '"Nothing to do." not in python_rpm_result.stdout_lines'

- name: Install epel
  when: ansible_facts.distribution | lower in system_packages_rhel_derivatives
  become: true
  ansible.builtin.dnf:
    name: "epel-release"
    state: present

- name: Set up repos
  become: true
  loop: "{{ system_packages_repo_list }}"
  loop_control:
    loop_var: repo
    label: "{{ repo.name }}"
  when: (ansible_facts.distribution | lower in repo.distro) | default(true)
  ansible.builtin.yum_repository:
    name: "{{ repo.name }}"
    description: "{{ repo.description }}"
    baseurl: "{{ repo.baseurl }}"
    priority: "{{ repo.priority }}"
    timeout: "{{ repo.timeout }}"
    enabled: "{{ repo.enabled | default(true) }}"
    gpgcheck: "{{ repo.enabled }}"
    gpgkey: "{{ repo.gpgkey }}"
    metadata_expire: "{{ repo.metadata_expire | default(21600) }}"
    skip_if_unavailable: "{{ repo.skip_if_unavailable | default(false) }}"
    mode: "0644"
    owner: "root"
    state: present
  register: repo_setup_result

- name: Gather package facts
  ansible.builtin.package_facts:

- name: Install packages
  become: true
  when: system_packages_list[ansible_facts.distribution | lower] is defined
  ansible.builtin.dnf:
    name: "{{ system_packages_list[ansible_facts.distribution | lower] | flatten(1) }}"
    update_cache: true
  register: package_install_result
  # INFO tuxedo repos fails on first try
  retries: 3
  delay: 2
  until: package_install_result is succeeded

...
