---

- name: Set up repos
  become: true
  loop: "{{ system_packages_repo_list }}"
  loop_control:
    loop_var: repo
    label: "{{ repo.name }}"
  when: (ansible_distribution | lower in repo.distro) | default(true)
  ansible.builtin.yum_repository:
    name: "{{ repo.name }}"
    description: "{{ repo.description }}"
    baseurl: "{{ repo.baseurl }}"
    priority: "{{ repo.priority }}"
    timeout: "{{ repo.timeout }}"
    enabled: "{{ repo.enabled | default(true) }}"
    gpgcheck: "{{ repo.enabled }}"
    gpgkey: "{{ repo.gpgkey }}"
    metadata_expire: "{{ repo.metadata_expire | default(21600) }}"
    skip_if_unavailable: "{{ repo.skip_if_unavailable | default(false) }}"
    mode: "0644"
    owner: "root"
    state: present
  register: repo_setup_result

- name: Handle dnf cache
  when: repo_setup_result.changed
  block:
    - name: Clean dnf cache
      become: true
      ansible.builtin.command:
        cmd: dnf clean all
      register: dnf_clean_result
      changed_when: dnf_clean_result.rc == 0

    - name: Update dnf metadata cache
      become: true
      ansible.builtin.dnf:
        update_cache: true

- name: Install packages
  become: true
  when: system_packages_list[ansible_distribution] is defined
  ansible.builtin.dnf:
    name: "{{ system_packages_list[ansible_distribution] }}"

...
